/* Place CSS styles here */



.val-row-3-tiles {
    display: flex;
    justify-content: center;
}

.top-wrap {
   display: flex;
   align-items: baseline;
   background-color: black;
   opacity: .5;
   justify-content:space-between;
   padding-inline: 50pt;
   top: 0;
   position: sticky;
   z-index: 1;
}

 
.header-bg{
    min-height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/Title-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-nav {
    color: antiquewhite;
}