/* Place CSS styles here */


.top-wrap {
   display: flex;
   align-items: center;
   background-color: black;
   opacity: .5;
   justify-content:space-between;
   padding-inline: 50pt;
   top: 0;
   position: sticky;
   z-index: 1;
}

.top-wrap-img {
    height: auto;
    min-width: fit-content;
    top: 0;
}


.top-wrap-nav a:link, a:visited {
    color: antiquewhite; text-decoration: none; font-size: 25px;
}

.top-wrap-nav a:hover, a:active {
    text-decoration: underline;
}

 
.header-bg {
    min-height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/Title-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.header-bg p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    text-align: center;
    padding-bottom: 50px;
}

.header-icon {
    display: flex;
    align-items: baseline;
    align-items: center;
}



.navigation-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/Swamp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.nav-two {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #999;
    border-radius: 12px;
    padding: 12px 24px;
    background-color: antiquewhite;
    display: flex;
    gap: 50px;
    align-items: center;
   
}

.nav-event {
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: saddlebrown;
    position: relative;

}

.nav-contact {
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: saddlebrown;
    position: relative;
}

.nav-contact img {
    height: 50px;
    width: 50px;
    background-color: saddlebrown;
    padding: 3px;
    border-radius: 10px;
   
}

footer {
    color: antiquewhite;
    bottom: 0;
 
}

.nav-event-page {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #999;
    border-radius: 12px;
    padding: 12px 24px;
    background-color: antiquewhite;
    display: flex;
    gap: 50px;
    align-items: baseline;
    
}

.nav-event-page img {
    justify-content: center;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.navigation-wrapper-event {
    min-height: 606px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/Swamp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.About-band-img{
    justify-content: center;
    display: flex;
}

.About-band-text{
    color: saddlebrown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 50px;
}

.nav-two-about {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #999;
    border-radius: 12px;
    padding: 12px;
    background-color: antiquewhite;
    display: flex;
    gap: 50px;
    align-items: center;
   
}